:root {
  --corCeltics: #007a33;
  --Branco: #ffffff;
  --Preto: #000000;
  --DouradoCeltics: #ba9653;

  --border: 0.1rem solid rgba (255, 255, 255, 0.3);
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--corCeltics);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--Branco);
  padding-bottom: -300px;
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar a {
  font-size: 1;
  color: var(--Branco);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--DouradoCeltics);
  border-bottom: 2px solid var(--DouradoCeltics);
  padding-bottom: 0.5;
  font-size: 1.2rem;
}
.icones {
  margin: 1rem;
  cursor: pointer;
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px); 
  width: 100%;
  margin-top: 0px; 
  overflow: hidden;
}

.player {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.player img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; 
  transition: transform 0.3s ease;
}
.titulo{
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--Branco);
    text-align: center;
}
.elenco .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.elenco .row .card h2{
  font-size: 2rem;
  color: var(--DouradoCeltics);
}
.elenco .row .card p{
  font-size: 1.2rem;
  color: var(--DouradoCeltics);
  padding: 2rem;
}


