:root {
  --corCeltics: #007a33;
  --Branco: #ffffff;
  --Preto: #000000;
  --DouradoCeltics: #ba9653;

  --border: 0.1rem solid rgba (255, 255, 255, 0.3);
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--corCeltics);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {


  max-width: 100vw;
}

.header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  
  border-bottom: var(--Branco);
  padding-bottom: 0.1rem;
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar a {
  font-size: 1;
  color: var(--Branco);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--DouradoCeltics);
  border-bottom: 0.2rem solid var(--DouradoCeltics);
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}
.icones {
  margin: 1rem;
  cursor: pointer;
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px); 
  width: 100%;
  margin-top: 0.1rem; 
  overflow: hidden;
}

.player {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.player img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; 
  transition: transform 0.3s ease;
}
.titulo{
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--Branco);
    text-align: center;
}
.elenco .row {
  align-items: flex-end;
  width: 100%;
  float: left;
  margin-top: 0.22rem;
  background: #29e652;
  background: linear-gradient(90deg,rgba(41, 230, 82, 1) 15%, rgba(0, 122, 51, 1) 90%);;
}
.elenco{
  background-color: none;
  text-align: center;

}
.card{
  float: left;

  margin: 3.5rem 0.1rem 2rem 1.21rem;
  text-align: center;
  width: 400px;
  height: 250px;
  background-color: var(--corCeltics);
  border-radius: 0 30px;
  border-bottom: 10px var(--DouradoCeltics) solid;
  border-right: 10px var(--DouradoCeltics) solid;
}

.card h2{
  text-align: center;
  color: var(--Branco); 
}
 .card p{
  text-align: center;
  color: var(--Branco); 

}
.card img{
  width: 260px;
  height: 190px;
  margin-top: -80px;
}
.hg .high{
  
}

